.close-animatedModal {
  text-align: center;
  height:5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 3rem;
  cursor: pointer;
  margin: 0rem;
  background-color: #ffffff;
}

.modalWrapper {
  position: relative;
  height: 100%;
  font-size: 3rem;
  z-index:10;
}

.modal-animatedModal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 4rem;
  z-index:10;
}

.container {
  z-index:1;
  left:0rem;
  margin: 0rem;
  padding:0rem;
}

.modal-button {
  text-align: center;
  z-index:1;
}

#modal {
  width: 35rem;
  height: 6rem;
  margin-top:40%;
  font-size: 2.3rem;
  z-index:1;
}

#text {
  font-size: 4.5rem;
}
